/* Hide for mobile, show later */
.sidebar {
  .orgunit-list {
	  display: none;
	  @media (min-width: 768px) {
		  display: block;
		}
  }
}
.search-field {
  margin-bottom: 20px;
}
.orgunit-list {
  margin-bottom: 40px;

  li {
    &.active {
      a,
      a:hover,
      a:focus {
        color: #fff;
        background-color: $primary;
      }
    }
    a {
      padding: 0.5rem 0.8rem;
      display: block;


      &:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
}
.orgunit-select-container {
  display: block;
  margin-bottom: 20px;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    display: none;
  }
}
