django-auth-ldap==2.1.*
django-bootstrap4==1.1.*
django-extensions==2.2.*
django-filter==2.2.*
Django==2.2.*
djangorestframework==3.11.*
fabric==2.5.*
gunicorn==20.0.*
Markdown==3.1.*
mysqlclient==1.4.6
requests==2.22.*
sentry-sdk==0.13.*
