{% for list,members in lists %}
<div class="fwdlist" data-list-name="{{ list }}">
	<div class="panel panel-default">
	    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt icon-faded" aria-hidden="true"></span> {{ list }} <span class="badge">{{members|length}}</span></div>
		<table class="table table-condensed">
	        <tbody>
			{% for member in members %}
				<tr><td>{{ member.forward }}</td><td class="del-cell"><label class="del-label" for="{{ member.dest }}={{ member.forward }}"><input id="{{ member.dest }}={{ member.forward }}" type="checkbox" name='fwd-delete' value="{{ member.dest }}={{ member.forward }}"></label></td></tr>
			{% endfor %}
				<tr class="action-row">
				<td>
					<a href="#" class="link-add js-toggle-email-textarea"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Legg til</a></span>
				</td>
				<td>
					<a href="#" class="link-del js-del-selected" type="button" data-delete-list-name="{{ list }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Slett</a>
				</td>
				</tr>
				<tr class="textarea-row">
				<td colspan="2">
					<h4>Eposter <span class="badge email-counter"></span></h4>
    				<textarea class="form-control js-add-list-textarea" data-list-name="{{ list }}" placeholder="asdf@studentersamfundet.no, qwerty@studentersamfundet.no f.eks. Klipp og lim så mye du orker" rows="4"></textarea>
    				<button type="button" class="btn btn-primary btn-add-list js-new-email"><span class="glyphicon glyphicon-plus js-new-email" aria-hidden="true"></span> Opprett liste</button>
    			</td>
    			</tr>
			</tbody>
		</table>
		<div class="result-alert"></div>
	</div>
</div>
{% endfor %}