{% for list,aliases in lists %}
<div class="fwdlist" data-list-name="{{ list }}" data-domain="{{aliases[0].domain}}">
	<div class="panel panel-default">
	    <div class="panel-heading"><span class="fas fa-list-alt icon-faded" aria-hidden="true"></span> {{ list }} <span class="badge badge-list-total">{{aliases|length}}</span></div>
		<table class="table table-condensed">
	        <tbody>
	        	<!-- Aliases -->
				{% include "aliases.html" %}
				<!-- Actions: Add/Remove -->
				<tr class="action-row">
					<td>
						<a href="#" class="link-add js-toggle-email-textarea"><span class="fas fa-plus" aria-hidden="true"></span> Legg til</a>
					</td>
					<td>
						<a href="#" class="link-del js-del-selected" type="button" data-delete-list-name="{{ list }}"><span class="fas fa-remove" aria-hidden="true"></span> Slett</a>
					</td>
				</tr>
				<tr class="textarea-row">
					<td colspan="2">
						<h4>Eposter <span class="badge email-counter"></span></h4>
	    				<textarea class="form-control js-add-list-textarea" data-list-name="{{ list }}" placeholder="asdf@studentersamfundet.no, qwerty@studentersamfundet.no f.eks. Klipp og lim så mye du orker" rows="4"></textarea>
	    				<button type="button" class="btn btn-primary btn-add-list js-new-email" data-list-name="{{list}}"><span class="fas fa-plus js-new-email" aria-hidden="true"></span> Legg til</button>
	    			</td>
    			</tr>
			</tbody>
		</table>
		<div class="result-alert"></div>
	</div>
</div>
{% endfor %}