{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}lister.neuf.no - Epostlister på Det Norske Studentersamfund{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mailadmin/dist/main.css' %}" type="text/css">
</head>
<body class="{% block body-css-classes %}{% endblock %}">
	{% include "nav.html" %}

	{% block body %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="credits"><p><a href="https://studentersamfundet.no" title="Det Norske Studentersamfund"><img src="{% static 'mailadmin/src/images/DNSlogo.png' %}" width="70" height="70" alt="DNS logo"></a></p>
            Laget med <span class="love" title="kærlighed">♥</span> av <a href="http://kak.studentersamfundet.no/" title="Kommunikasjonsavdelingen">KAK</a></div>

        </div>
    </footer>
    <script type="text/javascript" src="{% static 'mailadmin/dist/main.js' %}"></script>
</body>
</html>
