{% load staticfiles %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block "title" %}Email admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles/main.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/nunjucks/browser/nunjucks-slim.js' %}"></script>
</head>
<body class="{% block "body-css-classes" %}{% endblock %}">
	{% include "nav.html" %}
	{% block "navigation" %}{% endblock %}

	{% block "body" %}{% endblock %}
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/scripts/templates.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/scripts/main.js' %}"></script>
</body>
</html>